streamlit==1.31.0
langchain==0.1.5
langchain-community>=0.0.17,<0.1
langchain-google-genai
pypdf2==3.0.1
faiss-cpu>=1.8.0
pandas==2.1.4
python-dotenv==1.0.0
matplotlib==3.8.2

## python -m streamlit run app.py